<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <!--
  <NetSuiteSection xdt:Transform="Replace">
    <Uri
      scheme="https"
      sysHost="system.netsuite.com"
      formsHost="forms.netsuite.com"
      restHost="rest.netsuite.com"
      scriptPath="/app/site/hosting/scriptlet.nl"
      restPath="/app/site/hosting/restlet.nl"
      custRecPath="/app/common/custom/custrecordentry.nl"
      itemPath="/app/common/item/item.nl"
      compidVal="801095"
      emailVal = "james.white@classicsofttrim.com"
      passVal = "Eleven)h139th"
      debugVal = "false"
      debugCookieVal = "NS_VER=2013.2.0; JSESSIONID=DnKZSzQF48rGWxv8yYr8JdqT5HXLkB1Knzv2GgSSG9xg4TXcn8vNp7Zk3xtR8dLJJ1S2wQQjN1VGyJmwKG74qFTQJ8DcS24VP61qQDxnKv426vcm2d51M26hLhxnvlXK!-1275352392"
      selHVal="4b09632a6b36d7cdacf2"
      selScriptVal="49"
      selDeployVal="1"
      fileHVal="73710949ca57aef283ba"
      fileScriptVal="48"
      fileDeployVal="1"
      makeCustRecId="19"
      modelCustRecId="20"
      bodyCustRecId="21"
      trimCustRecId="69"
      carCustRecId="63"
      patternCustRecId="13"
    />
  </NetSuiteSection>
  -->
  
</configuration>
